@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Protest+Guerrilla&display=swap');


body{
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 710px; 
  color: gold;
  background-image: url('//https://i.blogs.es/c13b00/gla7x10/1366_2000.jpg');
  border: 5px solid rgb(71, 71, 68);

  
}
.tablero {
 
  height: 100%;
  display: flex;
  flex-direction: column; /* Alinea los jugadores uno encima del otro */
}


.jugador img {
  height: 50px;
  width: 50px;
}

.tiempo-container {
  border: 2px solid rgba(0, 0, 0, 0.2); /* Borde con sombra */
  border-radius: 5px; /* Borde redondeado */
  background-color: transparent; /* Fondo blanco */
  border-right: 5px solid rgb(130, 130, 106);
  border-top: 5px solid rgb(130, 130, 106);
  border-left: 5px solid rgb(12, 12, 11);
  border-bottom: 5px solid rgb(12, 12, 11);
}