<div class="jugador jugador-pc" style="width: 320px; display: flex; align-items: center;">
    <img [src]="imagenMaquina" style="height: 150px; 
    width: 160px;
    border-right: 5px solid rgb(130, 130, 106);
    border-top: 5px solid rgb(130, 130, 106);
    border-left: 5px solid rgb(12, 12, 11);
    border-bottom: 5px solid rgb(12, 12, 11);">
    <div style="display: flex; flex-direction: column; ">
        <p style="margin: 0; flex: 1;">Nafta: {{ nafta }}</p>
        <p style="margin: 0; flex: 1;">Distancia recorrida: {{ distancia }}</p>
        <div style="display: flex;">
            <button style="visibility: hidden;">Cargar Nafta</button>
            <button style="visibility: hidden;">Acelerar</button> 
        </div>
    </div>
</div>
