.info-container {
  width: 100%; /* Ajusta el ancho del tablero *//* Ancho fijo para el contenedor */
    margin-right: 10px;
    background-color:blue;
  }
  .jugador-maquina{
    width: 100%; /* Ajusta el ancho del tablero */
    background-image: url('https://i.gifer.com/2Ct5.gif');
    /* Ajusta otras propiedades según sea necesario */
    background-size: cover; /* Para ajustar el tamaño de la imagen al contenedor */
    background-repeat: no-repeat; /* Para evitar que la imagen se repita */
  }
  img{
    height: 150px; width: 160px; 

  }